// $cell-size: 75px;
// $gap: 10px;
// $radius: 5px;
// $background-color: #fbf8ef;
// $fiel-cell-color: #d6cdc4;
// $tile-font-size: 28px;
// $font-weight: 900;
// $second-font-color: #f9f6f2;
// $general-font-size: 24px;
// $game-field-bg-color: #bbada0;
// $accent-color: #edc22e;
// $info-bg-color: #d6cdc4;
// $info-font-color: #776e65;

// $start-btn-bg-color: #1dae28;
// $start-btn-hover-bg-color: #179921;
// $restart-btn-bg-color: #f1b2b2;
// $restart-btn-hover-bg-color: #f87474;

// $btn-width: 75px;
// $btn-height: 75px;

@use 'variables';

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: variables.$background-color;
  font-family: sans-serif;
  font-size: variables.$general-font-size;
  font-weight: variables.$font-weight;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.field-wrapper {
  position: relative;
}

.field-cell {
  background: variables.$field-cell-color;
  width: variables.$cell-size;
  height: variables.$cell-size;
  border-radius: variables.$radius;
  box-sizing: border-box;
  user-select: none;
}

.tile {
  position: absolute;
  width: variables.$cell-size;
  height: variables.$cell-size;
  border-radius: variables.$radius;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: variables.$tile-font-size;

  user-select: none;

  transition: transform 150ms ease-in-out;

  @each $value, $color in variables.$tile-colors {
    &--#{$value} {
      background: $color;

      @if $value >= 8 {
        color: variables.$second-font-color;
      }
    }
  }
}

.tile-inner {
  width: 100%;
  height: 100%;
  border-radius: variables.$radius;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiles-layer {
  position: absolute;
  top: 0;
  left: 0;
  padding: variables.$gap;
  box-sizing: border-box;
  pointer-events: none;
}

.game-field {
  background: variables.$game-field-bg-color;
  border-spacing: 10px;
  border-radius: variables.$radius;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: variables.$accent-color;
  color: variables.$second-font-color;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: variables.$radius;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: variables.$info-bg-color;
  width: 75px;
  height: 75px;
  border-radius: variables.$radius;
  color: variables.$info-font-color;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: variables.$radius;
  cursor: pointer;
  color: variables.$second-font-color;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: variables.$btn-width;
  height: variables.$btn-height;

  transition: 0.25s ease background;
}

.start {
  background: variables.$start-btn-bg-color;
  font-size: 20px;

  &:hover {
    background: variables.$start-btn-hover-bg-color;
  }
}

.restart {
  background: variables.$restart-btn-bg-color;

  &:hover {
    background: variables.$restart-btn-hover-bg-color;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: variables.$info-bg-color;
  color: variables.$info-font-color;
  padding: 10px;
  text-align: center;
  border-radius: variables.$radius;
  font-size: 20px;
}

.hidden {
  display: none;
}

.message-win {
  background: variables.$accent-color;
  color: variables.$info-font-color;
}

.message-container {
  width: 100%;
  height: 150px;
}
