$cell-size: 75px;
$gap: 10px;
$radius: 5px;
$background-color: #fbf8ef;
$field-cell-color: #d6cdc4;
$game-field-bg-color: #bbada0;
$accent-color: #edc22e;
$second-font-color: #f9f6f2;
$info-bg-color: #d6cdc4;
$info-font-color: #776e65;
$tile-font-size: 28px;
$general-font-size: 24px;
$font-weight: 900;
$btn-width: 75px;
$btn-height: 75px;
$start-btn-bg-color: #1dae28;
$start-btn-hover-bg-color: #179921;
$restart-btn-bg-color: #f1b2b2;
$restart-btn-hover-bg-color: #f87474;
$tile-colors: (
  2: #eee4da,
  4: #ede0c8,
  8: #f2b179,
  16: #f59563,
  32: #f67c5f,
  64: #f65e3b,
  128: #edcf72,
  256: #edcc61,
  512: #edc850,
  1024: #edc53f,
  2048: #edc22e,
);
